<div class="backdrop">
    <div class="modal">
        <button type="button" class="modal-close-btn">
            <svg>
                <use href="/img/icons/close.svg" />
            </svg>
        </button>
        <img src="" alt="exercise demo" class="modal-img">
        <div class="modal-main-content">
            <h2 class="modal-title"></h2>
            <div class="modal-rating">
                <p class="modal-rate-value">4.0</p>
                <div>icons</div>
            </div>
            <hr>
            <div class="exercise-info-cont">
                <div class="exercise-info-item">
                    <p class="exercise-info-title">Target</p>
                    <p class="exercise-info-text"></p>
                </div>
                <div class="exercise-info-item">
                    <p class="exercise-info-title">Body Part</p>
                    <p class="exercise-info-text"></p>
                </div>
                <div class="exercise-info-item">
                    <p class="exercise-info-title">Equipment</p>
                    <p class="exercise-info-text"></p>
                </div>
                <div class="exercise-info-item">
                    <p class="exercise-info-title">Popular</p>
                    <p class="exercise-info-text"></p>
                </div>
                <div class="exercise-info-item">
                    <p class="exercise-info-title">Burned calories</p>
                    <p class="exercise-info-text"></p>
                </div>
            </div>

            <hr>
            <p class="modal-description"></p>
            <div class="modal-buttons">
                <button type="button" class="btn-favorite">Add to favorites <svg class="icon-favorite">
                        <use href="/img/sprite.svg#icon-heart" />
                    </svg></button>
                <button type="button" class="btn-rating">Give a rating</button>
            </div>
        </div>
    </div>
</div>