<div class="backdrop">
    <div class="modal">
        <button type="button">
            <svg class="modal-close">
                <use href="../../public/img/icons/x.svg" />
            </svg>
        </button>
        <h2 class="modal-title">Air bake</h2>
        <div class="modal-rating">
            <p>4.0</p>
            <div>icons</div>
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>Target</th>
                    <th>Body Part</th>
                    <th>Equipment</th>
                    <th>Popular</th>
                    <th>Burned calories</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Abs</td>
                    <td>Waist</td>
                    <td>Body weight</td>
                    <td>150</td>
                    <td>323/3 min</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p class="modal-description">This refers to your core muscles, which include the rectus abdominis, obliques, and
            transverse abdominis. They're
            essential for maintaining posture, stability, and generating force in many movements. Exercises that target
            the abs
            include crunches, leg raises, and planks.</p>
        <div class="modal-buttons">
            <button type="button">Add to favorites</button>
            <button type="button">Give a rating</button>
        </div>
    </div>
</div>