<div class="pagination">
  <div class="arrow-buttons">
    <button class="page-button arrow double disabled">
      <svg class="pagination-arrow-icon">
        <use href="./img/sprite.svg#icon-angle-small-left"></use>
      </svg>
      <svg class="pagination-arrow-icon">
        <use href="./img/sprite.svg#icon-angle-small-left"></use>
      </svg>
    </button>
    <button class="page-button arrow disabled">
      <svg class="pagination-arrow-icon">
        <use href="./img/sprite.svg#icon-angle-small-left"></use>
      </svg>
    </button>
  </div>
  <div class="page-buttons">
    <button class="page-button active">1</button>
    <button class="page-button">2</button>
    <button class="page-button">3</button>
    <span class="pagination-ellipsis">...</span>
  </div>
  <div class="arrow-buttons">
    <button class="page-button arrow">
      <svg class="pagination-arrow-icon">
        <use href="./img/sprite.svg#icon-angle-right-left"></use>
      </svg>
    </button>
    <button class="page-button arrow">
      <svg class="pagination-arrow-icon">
        <use href="./img/sprite.svg#icon-angle-right-left"></use>
      </svg>
      <svg class="pagination-arrow-icon">
        <use href="./img/sprite.svg#icon-angle-right-left"></use>
      </svg>
    </button>
  </div>
</div>
