<div class="quote {=$mode}">
  <div class="run-icon-container">
    <svg class="run-icon" width="18" height="20">
      <use href="./img/sprite.svg#icon-run-icon"></use>
    </svg>
  </div>
  <div class="quote-right">
    <div class="quote-text">
      <p class="quote-title {=$mode}">Quote of the day</p>
      <svg class="run-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-inverted-commas"></use>
      </svg>
    </div>
    <p class="quote-description {=$mode}">
      A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest
      heart.
    </p>
    <p class="quote-author {=$mode}">Tom Brady</p>
  </div>
</div>
