<ul class="social-links {=$class}">
  <li>
    <load
      src="partials/controls/link-icon.html"
      href="https://www.facebook.com/goITclub/"
      icon="icon-facebook"
      label="Link to Facebook"
      class="{=$class-link}"
    />
  </li>
  <li>
    <load
      src="partials/controls/link-icon.html"
      href="https://www.instagram.com/goitclub/ "
      icon="icon-instagram"
      label="Link to Instagram"
      class="{=$class-link}"
    />
  </li>
  <li>
    <load
      src="partials/controls/link-icon.html"
      href="https://www.youtube.com/c/GoIT"
      icon="icon-youtube"
      label="Link to Youtube"
      class="{=$class-link}"
    />
  </li>
</ul>
