<div class="favorites-workout-card" data-id="">
  <div class="favorites-workout-card-header">
    <div class="favorites-workout-card-type-delete">
      <div class="favorites-workout-card-type">WORKOUT</div>
      <button class="favorites-workout-card-delete delete">
        <svg width="16" height="16">
          <use href="/img/icons/trash-mini.svg" />
        </svg>
      </button>
      <div class="favorites-workout-card-rating rating">5.0</div>
    </div>
    <button class="favorites-workout-card-start start">
      <span class="favorites-workout-card-start-text">Start</span>
      <svg width="16" height="16" class="favorites-workout-card-start-icon">
        <use href="/img/icons/arrow-right.svg" />
      </svg>
    </button>
  </div>
  <div class="favorites-workout-card-body">
    <div class="favorites-workout-card-title-container">
      <svg class="favorites-workout-card-icon" width="24" height="24">
        <use href="/img/icons/run-icon-dark.svg" />
      </svg>
      <span class="favorites-workout-card-title title">Air bike</span>
    </div>
    <div class="favorites-workout-card-details">
      <div class="favorites-workout-card-detail">
        <span class="favorites-workout-card-detail-title">
          Burned calories:
        </span>
        <span class="favorites-workout-card-detail-value burned-calories">312 / 3 min</span>
      </div>
      <div class="favorites-workout-card-detail">
        <span class="favorites-workout-card-detail-title group"> Body part: </span>
        <span class="favorites-workout-card-detail-value group-target">Waist</span>
      </div>
      <div class="favorites-workout-card-detail">
        <span class="favorites-workout-card-detail-title"> Target: </span>
        <span class="favorites-workout-card-detail-value filter">Abs</span>
      </div>
    </div>
  </div>
</div>
