<section id="exercises" class="exercises-section">
  <div class="exercises-header">
    <h2>Exercises</h2>
    <load src="partials/category-tabs.html" />
  </div>
  <div class="exercises-content">
    <div class="exercises-left">
        <div>Quote of the day</div>
        <div>Picture</div>
        <div>110 min</div>
    </div>
    <div class="exercises-wrapper">
    <div class="exercises-filters">
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="abductors" image="'https://ftp.goit.study/img/power-pulse/filters/abductors_ymfukx.jpg'"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="abs" image="https://ftp.goit.study/img/power-pulse/filters/abs_bdi0dw.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="adductors" image="https://ftp.goit.study/img/power-pulse/filters/adductors_fmkryf.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="biceps" image="https://ftp.goit.study/img/power-pulse/filters/biceps_rnrxog.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="calves" image="https://ftp.goit.study/img/power-pulse/filters/calves_vzdk8o.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="cardiovascular system" image="https://ftp.goit.study/img/power-pulse/filters/cardiovascular_system_ooip0r.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="delts" image="https://ftp.goit.study/img/power-pulse/filters/delts_ui5hy5.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="forearms" image="https://ftp.goit.study/img/power-pulse/filters/forearms_bw15z9.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="glutes" image="https://ftp.goit.study/img/power-pulse/filters/glutes_dtcdzf.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="hamstrings" image="https://ftp.goit.study/img/power-pulse/filters/hamstrings_i5rz3w.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="lats" image="https://ftp.goit.study/img/power-pulse/filters/lats_zolre8.jpg"/>
        <load src="partials/exercises/card-filter.html" group="Muscles" filter="levator scapulae" image="https://ftp.goit.study/img/power-pulse/filters/levator_scapulae_v7bfsw.jpg"/>
    </div>
    <div class="exercises-list hidden"></div>
    <load src="partials/components/pagination-buttons.html" id="exercises-list-pagination-buttons" />
    </div>
  </div>
</section>
