.exercises-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exercises-header {
  display: flex;
  justify-content: space-between;
}

.exercises-groups-filter {
  & > div {
    cursor: pointer;
  }
}

.exercises-content {
  display: flex;
}

.exercises-left {
}

.exercises-list {
  columns: 3;
}

.exercises-card-filter {
  padding: 5rem;
  border-radius: 12px;
  background-size: cover !important;
  background-repeat: no-repeat;

  color: white;
}
