.header {
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 28px 32px;
    background-color: var(--color-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header-container{
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1440px) {
        width: calc(1440px - 32px * 2);
        margin: 0 auto;
    }
}
.header-logo {
    padding: 20px 0;
}
.header-nav-links {
    width: 265px;
    height: 52px;
    padding: 10px 62px;
    border-radius: var(--radius-btn);
    background: var(--color-bg-dark);
}
.link-home-btn,
.link-favorites-btn {
    border-radius: var(--radius-btn);
    background: var(--color-bg);
    display: inline-flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition) ease, color var(--transition) ease;
    font-weight: 400;
}
.nav-btn-active {
    background-color: var(--color-bg);
    color: var(--color-bg-dark);
}
.nav-btn-inactive {
    background-color: var(--color-bg-dark);
    color: var(--color-bg);
}
.header-nav-links>ul {
    display: flex;
    justify-content: center;
    gap: 18px;
}
.burger-menu-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    display: none;
}
.header-socials-link {
    color: var(--color-bg-dark);
    border: 1px solid var(--color-border-for-light-socials);
}
.link-icon:hover,
.link-icon:focus {
    color: var(--color-bg);
    background-color: var(--color-bg-dark);
}
.socials-icon {
    display: block;
    fill: currentColor;
}
.icon-facebook {
    width: 7px;
    height: 17px;
}
.icon-instagram,
.icon-youtube {
    width: 24px;
    height: 24px;
}