<style>
    .favorites-workout-card {
        min-width: 335px;
        height: 141px;
        border-radius: 15px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        padding: 16px;
    }

    /* HEADER START*/
    .favorites-workout-card-header {
        display: flex;
        justify-content: space-between;
    }

    .favorites-workout-card-type-delete {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 8px;
    }

    .favorites-workout-card-type {
        border: 1px solid #242424;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 8px;
    }

    .favorites-workout-card-type {
        font-weight: 500;
        font-size: 12px;
        color: #242424;
    }

    .favorites-workout-card-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
    }

    .favorites-workout-card-start {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 8px;
    }

    .favorites-workout-card-start-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    .favorites-workout-card-start-icon {
        width: 16px;
        height: 16px;
    }

    /* HEADER END */

    /* BODY START */

    .favorites-workout-card-body {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
    }

    .favorites-workout-card-title-container {
        display: flex;
        align-items: center;
        column-gap: 18px;
    }

    .favorites-workout-card-icon {

    }

    .favorites-workout-card-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    .favorites-workout-card-details {
        display: flex;
        column-gap: 10px;
    }

    .favorites-workout-card-detail {
        display: flex;
        column-gap: 2px;
    }

    .favorites-workout-card-detail-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #24242466;
        white-space: nowrap;
    }

    .favorites-workout-card-detail-value {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #242424;
        max-width: 40px;

        /* single line truncation */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* BODY END */
</style>

<div id="favorites-content" class="favorites-content hidden">
  <div class="favorites-workout-card">
    <div class="favorites-workout-card-header">
      <div class="favorites-workout-card-type-delete">
        <div class="favorites-workout-card-type">WORKOUT</div>
        <button class="favorites-workout-card-delete">
          <svg width="16" height="16">
            <use href="/img/icons/trash-mini.svg" />
          </svg>
        </button>
      </div>
      <button class="favorites-workout-card-start">
        <span class="favorites-workout-card-start-text">Start</span>
        <svg width="16" height="16" class="favorites-workout-card-start-icon">
          <use href="/img/icons/arrow-right.svg" />
        </svg>
      </button>
    </div>
    <div class="favorites-workout-card-body">
      <div class="favorites-workout-card-title-container">
          <svg class="favorites-workout-card-icon" width="24" height="24">
            <use href="/img/icons/run-icon-dark.svg" />
          </svg>
        <span class="favorites-workout-card-title">Air bike</span>
      </div>
      <div class="favorites-workout-card-details">
        <div class="favorites-workout-card-detail">
          <span class="favorites-workout-card-detail-title">
            Burned calories:
          </span>
          <span class="favorites-workout-card-detail-value">312 / 3 min</span>
        </div>
        <div class="favorites-workout-card-detail">
          <span class="favorites-workout-card-detail-title">
            Body part:
          </span>
          <span class="favorites-workout-card-detail-value">Waist</span>
        </div>
        <div class="favorites-workout-card-detail">
          <span class="favorites-workout-card-detail-title">
            Target:
          </span>
          <span class="favorites-workout-card-detail-value">Abs</span>
        </div>
      </div>
    </div>
  </div>
</div>
