<div class="exercise-norm-block">
  <div class="exercise-norm-header">
    <div class="exercise-norm-icon">
      <img src="/img/icons/icon.svg" alt="Norm icon" />
    </div>
    <div class="exercise-norm-content-col">
      <div class="exercise-norm-title-label-group">
        <span class="exercise-norm-title">110 min</span>
        <span class="exercise-norm-label">Daily norm of sports</span>
      </div>
      <div class="exercise-norm-description">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </div>
    </div>
  </div>
</div>
