<header class="header">
    <div class="container header-container">

        <load src="partials/components/logo.html" />

        <nav class="header-nav-links">
            <ul>
                <li><a href="#" class="link-home-btn nav-btn-active">Home</a></li>
                <li><a href="#favorites" class="link-favorites-btn nav-btn-inactive">Favorites</a></li>
            </ul>
        </nav>

        <button class="burger-menu-button" type="button" id="burgerBtn" aria-label="Open mobile menu">
            <svg class="burger-menu-icon" width="32" height="32">
                <use href="/img/icons/burger-menu.svg"></use>
            </svg>
        </button>

        <load src="partials/components/social-links.html" class-link="header-socials-link" />
    </div>
</header>