<div class="mobile-menu {=$class}" id="burgerMenu">

    <button class="close-btn" id="close-mob-menu" type="button" aria-label="Modal window close button">
        <svg class="close-btn-icon" width="32" height="32">
            <use href="/img/icons/button-close.svg"></use>
        </svg>
    </button>

    <nav class="mobile-nav-links">
        <ul class="nav-list-mobile">
            <li><a href="#" class="link-home-mobile">Home</a></li>
            <li><a href="#favorites" class="link-favorites-mobile">Favorites</a></li>
        </ul>
    </nav>

    <load src="partials/components/social-links.html" class-link="mobile-socials-link" />
</div>