.footer {
  width: 100%;
  background: #242424;
  display: flex;
  flex-wrap: wrap;
}

.old-logo {
  width: 132px;
  height: 24px;
  color: var(--color-text-muted);
}

.footer-socials-link {
  color: var(--color-bg);
  border: 1px solid var(--color-border-for-dark-socials);
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer-socials-link {
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-socials-link {
    margin-bottom: 32px;
  }
}

.subscribe-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 20px;
  gap: 10px;

  width: 352px;
  height: 48px;

  border: 1px solid #f4f4f4;
  background-color: transparent;
  border-radius: 30px;

  color: rgba(244, 244, 244, 1);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 352px;
  height: 160px;
  left: calc(50% - 352px / 2 + 512px);
  top: 64px;
}

.subscribe-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #f4f4f4;
  padding-bottom: 20px;
  line-height: 24px;
  margin: 0;
}

.subscribe-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 157px;
  gap: 8px;

  width: 352px;
  height: 48px;

  background: #f4f4f4;
  border-radius: 30px;
}

.legal-container {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--color-text-secondary);
  opacity: 0.9;
  padding-top: 120px;
}

@media screen and (min-width: 768px) {
  .legal-container {
    display: flex;
    padding-top: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .legal-container {
    padding-top: 70px;
  }
}

.copyright-text {
}

@media screen and (max-width: 767px) {
  .copyright-text {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .copyright-text {
    padding-right: 78px;
  }
}

@media screen and (min-width: 1158px) {
  .copyright-text {
    padding-right: 110px;
  }
}

.copyright-year {
  padding-left: 79px;
}

@media screen and (min-width: 768px) {
  .copyright-year {
    padding-left: 178px;
  }
}

@media screen and (min-width: 1158px) {
  .copyright-year {
    padding-left: 498px;
  }
}

.terms-conditions-container {
  display: flex;
}

.terms-conditions-link1 {
  padding-right: 8px;
}

.terms-conditions-link2 {
  padding-right: 8px;
}
