.footer {
  width: 100%;
  background: #242424;
  display: flex;
  flex-wrap: wrap;
}

.old-logo {
  width: 132px;
  height: 24px;
  color: var(--color-text-muted);
}

.footer-socials-link {
  color: var(--color-bg);
  border: 1px solid var(--color-border-for-dark-socials);
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer-socials-link {
    margin-bottom: 37px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-socials-link {
    margin-bottom: 32px;
  }
}

.legal-container {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--color-text-secondary);
  opacity: 0.9;
  padding-top: 120px;
}

@media screen and (min-width: 768px) {
  .legal-container {
    display: flex;
    padding-top: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .legal-container {
    padding-top: 70px;
  }
}

.copyright-text {
}

@media screen and (max-width: 767px) {
  .copyright-text {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .copyright-text {
    padding-right: 78px;
  }
}

@media screen and (min-width: 1158px) {
  .copyright-text {
    padding-right: 110px;
  }
}

.copyright-year {
  padding-left: 79px;
}

@media screen and (min-width: 768px) {
  .copyright-year {
    padding-left: 178px;
  }
}

@media screen and (min-width: 1158px) {
  .copyright-year {
    padding-left: 498px;
  }
}

.terms-conditions-container {
  display: flex;
}

.terms-conditions-link1 {
  padding-right: 8px;
}

.terms-conditions-link2 {
  padding-right: 8px;
}


